In [4]:
num =  int(input('enter the number'))
if num % 2==0:
   print('even')
else:
     print('odd')

enter the number 34

even

In [6]:
isinstance(1, int)

True

In [8]:
x = 1
for i in range(0,5):
    x = x*(i+1)
print(x)

120

In [27]:
def func():
    a = 0
    b = int(input('enter the number'))
    c = int(input('enter the number'))
    for i in range(b,c):
        a = a+i
    return(a)

In [30]:
func()

enter the number 0
enter the number 5

10

In [100]:
st = 'twilight saga new chapter'
l = []
n = 0
for i in range(len(st)):
    if st[i] == ' ':
        l.append(st[n:i])
        n = i+1
l.append(st[n:])

In [101]:
l

['twilight', 'saga', 'new', 'chapter']

In [106]:
st = st.upper()
l = []
for i in st:
    if i not in l:
        print('occurence of', i, st.count(i))
        l.append(i)

occurence of T 3
occurence of W 2
occurence of I 2
occurence of L 1
occurence of G 2
occurence of H 2
occurence of   3
occurence of S 1
occurence of A 3
occurence of N 1
occurence of E 2
occurence of C 1
occurence of P 1
occurence of R 1

In [107]:
d = {
    'a':'first student',
    'b':'second',
    'c':32,
    'd':{
        'hello':42,
        'hi':44
    },
    'e':[1,2,3,4]
}

In [112]:
d.get('a')

'first student'

In [163]:
# a[i[0]] = i[1]
for i in d.items():
    print(i[0], i[1])

a first student
b second
c 32
d {'hello': 42, 'hi': 44}
e [1, 2, 3, 4]

In [164]:
for i in d.keys():
    print(d[i])

first student
second
32
{'hello': 42, 'hi': 44}
[1, 2, 3, 4]

### Find the largest number in the list

In [165]:
def largest_number(l):
    large = l[0]
    for i in l:
        if i > large:
            large = i
    return large

In [169]:
l = [343,567,5443,89]
largest_number(l)

5443

### Find the occurrence of each element in list

In [2]:
lst = [1, 2, 2, 3, 4, 4, 4, 5]

occurrences = {}
for i in lst:
    occurrences[i] = occurrences.get(i, 0) + 1

print(occurrences)

{1: 1, 2: 2, 3: 1, 4: 3, 5: 1}

In [3]:
from collections import Counter
print(Counter(lst))

Counter({4: 3, 2: 2, 1: 1, 3: 1, 5: 1})

### Class OOPs concept

In [5]:
class Student:
    mentor = 'Tushar'
    age = 24

In [9]:
a = Student()
a.mentor

'Tushar'

In [11]:
class person:
    alive = True
    age = 24
    name = None

    def hello(self):
        print('Hello my name is ',self.name,',',self.age,'year old')

In [13]:
p = person()
p.hello()

Hello my name is  None , 24 year old

In [14]:
class person:
    alive = True
    age = 24
    name = None

    def hello(self, name_person, age_person):
        self.name = name_person
        self.age = age_person
    
        print('Hello my name is ',self.name,',',self.age,'year old')

In [17]:
p = person()
p.hello('Tushar', 24)

Hello my name is  Tushar , 24 year old

### Dunders or magic function

In [32]:
class person:
    alive = True
    age = 24
    name = None

    def __init__(self, person_name, person_age):
        self.name = person_name
        self.age = person_age
        
    def hello(self):
        print('Hello my name is ',self.name,',',self.age,'year old')

In [33]:
p = person('Tushar', 24)
p.hello()

Hello my name is  Tushar , 24 year old

In [51]:
class car:
    def __init__(self, model, mileage):
        self.model = model
        self.mileage = mileage
        print('this is',self.model, 'having mileage of', self.mileage, 'KMPL')
        
    def __add__(self,other):
        return int(self.mileage) + int(other.mileage)

    def __eq__(self, other):
        return str(self.mileage) == str(other.mileage)

    def __str__(self):
        return "{} {}".format(self.model, self.mileage)

In [52]:
c1 = car('BMW',15)
c2 = car('Audi', 10)

this is BMW having mileage of 15 KMPL
this is Audi having mileage of 10 KMPL

In [53]:
c1==c2

False

In [54]:
str(c2)

'Audi 10'

In [84]:
class dog:
    def __init__(self,name,breed):
        self.name =  name
        self.breed = breed
        self.total_tricks = []
    
    def learn_trick(self, tricks):
        self.total_tricks.append(tricks)
        print(f'The dog name is {self.name} {self.breed} knows {tricks}')

In [91]:
a = dog('sheero', 'german')
b = dog('Max', 'labra')

In [92]:
print(a.total_tricks, b.total_tricks)

[] []

In [93]:
a.learn_trick('sit')
b.learn_trick('eating')

The dog name is sheero german knows sit
The dog name is Max labra knows eating

In [94]:
a.learn_trick(['dance', 'lean'])
b.learn_trick(['barking', 'sleeping'])

The dog name is sheero german knows ['dance', 'lean']
The dog name is Max labra knows ['barking', 'sleeping']

In [95]:
a.total_tricks
b.total_tricks

['eating', ['barking', 'sleeping']]

### Inheritence

In [118]:
class school_member:

    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f'Initialized members : {self.name}')

    def tell(self):
        print(f"Name : {self.name}")
        print(f"Age : {self.age}")

class Teacher(school_member):

    def __init__(self,t_name, t_age, t_salary):
        self.salary = t_salary
        school_member.__init__(self, t_name, t_age)

    def say(self):
        school_member.tell(self)
        print(f"Salary of teacher : {self.salary}")

In [115]:
j = school_member('Jaspreet', 21)
t = Teacher('Tushar',24,50000)

Initialized members : Jaspreet
Initialized members : Tushar

In [116]:
j.tell()
t.say()

Name : Jaspreet
Age : 21
Name : Tushar
Age : 24
Salary of teacher : 50000

In [117]:
t.hello()

 hello