In [1]:
a = 1

In [2]:
a

1

In [3]:
b = 4

In [4]:
b

4

In [5]:
print(b)

4

In [6]:
b = 4.0

In [7]:
print(b)

4.0

In [8]:
a = 4

In [9]:
print(a)

4

In [10]:
print(type(a))

<class 'int'>

In [11]:
print(type(b))

<class 'float'>

In [12]:
print(type(-2))

<class 'int'>

In [13]:
print(type(-3.5))

<class 'float'>

In [14]:
c = '3'

In [15]:
print(type(c))

<class 'str'>

In [16]:
c = 'Hello World!'

In [17]:
c

'Hello World!'

In [18]:
type(c)

str

In [19]:
d = True

In [20]:
type(d)

bool

In [21]:
d = False

In [22]:
type(d)

bool

In [23]:
print(d)

False

In [24]:
print('e')

e

In [25]:
print('Hello world, My name is Abhijeet!')

Hello world, My name is Abhijeet!

In [26]:
# print()

In [27]:
def summer(a, b):
    print(a + b)
    print(a)
    print(b)

In [28]:
summer(10, 20)

30
10
20

In [29]:
print(summer)

<function summer at 0x7facf79b1310>

In [30]:
summer

In [31]:
a

4

In [32]:
print(a)

4

In [33]:
print("3")

3

In [34]:
print

In [35]:
a = 20
b = 10
summer(a, b)

30
20
10

In [36]:
first = 20
second = 100
summer(first, second)

120
20
100

In [37]:
a

20

In [38]:
id(a)

4469075232

In [39]:
id(summer)

140380865237776

In [40]:
id(c)

140380865087920

In [41]:
c = "hello"

In [42]:
id(c)

140380860436784

In [43]:
print("Hello", "world", 200)

Hello world 200

In [44]:
def memory(a):
    print("The value of the argument is:", a)
    print("Type of argument", type(a))
    print("The memory address of the argument is:", id(a))

In [45]:
memory(a)

The value of the argument is: 20
Type of argument <class 'int'>
The memory address of the argument is: 4469075232

In [46]:
c = '.'

In [47]:
ord(c)

46

In [48]:
memory(ord)

The value of the argument is: <built-in function ord>
Type of argument <class 'builtin_function_or_method'>
The memory address of the argument is: 140380798884576

In [49]:
print(type(print))

<class 'builtin_function_or_method'>

In [50]:
a

20

In [51]:
aa = print

In [52]:
aa("Hello World!")

Hello World!

In [53]:
def printer():
    print("This function is running")

In [54]:
printer

In [55]:
print(summer(10, 20))

30
10
20
None

In [56]:
summer(10, 20)

30
10
20

In [57]:
def summer(a, b):
    print(a + b)
    print(a)
    print(b)
    return (a + b), (a - b)    # Returns the value of (a+b) so that it can be used in future

In [58]:
s, p = summer(10, 20)
s = s + 5
p = p - 5

30
10
20

In [59]:
print(s, p)

35 -15

In [60]:
print(summer(10, 20))

30
10
20
(30, -10)

In [61]:
def name_printer(name):
    print("Hello", name)
    name = "Hello " + name
    return name

In [62]:
name = name_printer('Abhijeet')

Hello Abhijeet

In [63]:
print(name)

Hello Abhijeet

In [64]:
a = "Hello " + 'world'
print(a)

Hello world

In [65]:
def calc(a, b):
#     add = a+b
#     sub = a-b
#     mul = a*b
#     div = a/b
    return (a + b), (a - b), (a * b), (a / b)

In [66]:
print(calc(1, 2))

(3, -1, 2, 0.5)

In [67]:
add, sub, mul, div = calc(10, 20)

In [68]:
print(div)

0.5

In [69]:
add, _, mul, _ = calc(10, 20)

In [70]:
_

0.5

In [71]:
def first(name):
    return name
def second(name):
    return name

In [72]:
# fname = first('Abhijeet')
# lname = second('Bhattacharya')

In [73]:
def name(a, b, c, d):
    print(a(c), b(d))

In [74]:
name(first, second, 'Abhijeet', 'Bhattacharya')

Abhijeet Bhattacharya

In [75]:
print(first)

<function first at 0x7facf7a190d0>

In [76]:
# If
# Elif
# Else
# Switch

In [77]:
b = 2

In [78]:
b == 29

False

In [79]:
b > 100

False

In [80]:
if b > 10:
    print("The value of b is greater than 10")

In [81]:
if b > 20:
    print("The value of b is greater than 20")

In [82]:
if b > 30:
    print("The value of b is greater than 30")

In [83]:
if b == 10:
    print("The value of b is greater than 10")
elif b > 20:
    print("Value also greater than 20")
if b > 30:
    print("Value greater than 30")
if b < 30:
    print("Value greater than 20 but less than 30")
else:
    print("Value not in scale")

Value greater than 20 but less than 30

In [84]:
b

2

In [85]:
integer = 10

In [86]:
if integer == 9:
    print("Hi")
if integer == 10:
    print("Hello")
else:
    print("Bye")

Hello

In [87]:
if integer == 10:
    print("10")
print("not 10")

10
not 10

In [88]:
def func(a,b):
    if(a==b):
        print("a is equal to b")
    elif(a>b):
        print("a is greater than b")
    else:
        print("b is greater than a")

In [89]:
def compar(a,b):
    if a==b:
        p = str(a) + " is equal to " + str(b)
        return p
    
    elif a>b:
        q = str(a) + " is greater than " + str(b)
        return q
    
    else :
        s = str(b) + " is greater than " + str(a)
        return s

In [90]:
func(10, 20)

b is greater than a

In [91]:
a = int(input("enter the first no."))

b = int(input("enter the second no."))

enter the first no.2
enter the second no.2

In [92]:
if a>b:
  print("A is greater than B")
elif a<b:
  print("B is greater than A")
else :
  print("A and B are equal")

A and B are equal

In [93]:
def greater(a,b):
    if a > b:
        print('a is greater than b')
    else :
        print('b is greater than a')
greater(10,10)

b is greater than a

In [94]:
def fun(a,b):
    if a>b:
        print("A is greater")
    elif a<b:
        print("B is greater")
    else:
        print("Equal")

In [95]:
fun(10, 10)

Equal

In [96]:
b = input("Enter a number: ")

Enter a number: 2

In [97]:
print(b, type(b))

2 <class 'str'>

In [98]:
input()

2

'2'

In [99]:
b

'2'

In [100]:
print(b == '6')

False

In [101]:
# Type casting
b = int(b)

In [102]:
type(b)

int

In [103]:
b = int(input("Enter a number: "))
print(type(b))

Enter a number: 2
<class 'int'>

In [104]:
print(b == 22)

False

In [105]:
fun(int(input('Enter argument')), int(input('Enter argument')))

Enter argument2
Enter argument2
Equal

In [106]:
print(type(str(b)))

<class 'str'>

In [107]:
b

2

In [108]:
b = str(b)
type(int(b))

int

In [109]:
type(b)

str

In [110]:
print(int(input('Enter random values: ')))

Enter random values: 2
2

In [111]:
def odd_even(s):
    if s % 2 == 0:
        print("EVEN")
    else:
        print("ODD")

In [112]:
odd_even(int(input('Enter number')))

Enter number2
EVEN

In [113]:
def intbool(a):
    if(type(a)==int):
        print('int')
    elif(type(a)==str):
        print('str')
    else:
        print('bool')
a = input("enter")
intbool(a)

enter2
str

In [114]:
# Loops
# While
# For

In [115]:
print("hello")

hello

In [116]:
for i in range(5):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [117]:
for i in range(2):
    i = int(input("Enter a number"))
    print(type(i))

Enter a number2
<class 'int'>
Enter a number2
<class 'int'>

In [118]:
a = '2'
print(type(a))

<class 'str'>

In [119]:
def fact(a):
    x=1
    for i in range(0,a):
        x= x*(i+1)
    return x

In [120]:
fact(int(input("Enter Number")))

Enter Number2

2

In [121]:
def factorial():
    a=5
    fact=1
    for i in range(1,a+1):
        fact=fact*i
    return fact

In [122]:
factorial()

120

In [123]:
def findSumBetween(a, b):
    ans = 0
    for k in range(a,b+1):
        ans = ans + k
    return ans

In [124]:
findSumBetween(1, 2)

3

In [125]:
def findSumBetween(b, a=5):
    ans = 0
    for k in range(a,b+1):
        ans = ans + k
#     print(ans)
    return ans

In [126]:
print(findSumBetween(10, 0))
print(findSumBetween(10))

55
45

In [127]:
for i in range(1, 5):
    print("The Iterator has a value of: ", i)

The Iterator has a value of:  1
The Iterator has a value of:  2
The Iterator has a value of:  3
The Iterator has a value of:  4

In [128]:
string = "Hello world!"

In [129]:
for i in string:
    print(i)

H
e
l
l
o

w
o
r
l
d
!

In [130]:
string = '2'
for i in string:
    print(i)

2

In [131]:
# While Loop

In [132]:
number_1 = 0
while number_1 <= 10:
    print("Current value of number is -->", number_1)
    number_1 = number_1 + 1

Current value of number is --> 0
Current value of number is --> 1
Current value of number is --> 2
Current value of number is --> 3
Current value of number is --> 4
Current value of number is --> 5
Current value of number is --> 6
Current value of number is --> 7
Current value of number is --> 8
Current value of number is --> 9
Current value of number is --> 10

In [133]:
number_1

11

In [134]:
# Break
# Continue

In [135]:
for i in range(10):
    if (i == 5):
        break
    else:
        print(i)

0
1
2
3
4

In [136]:
for j in range(500):
    if (j == 2):
        break
    print("Value of J:", j)
    for i in range(500):
            if (i == 2):
                break
            else:
                print(i)

Value of J: 0
0
1
Value of J: 1
0
1

In [137]:
# while(1):
while(True):
    a = int(input("Enter the number:- "))
    
    if (a==9):
        print("Password Correct")
        break
    else:
        print("Password Incorrect")

Enter the number:- 2
Password Incorrect
Enter the number:- 2
Password Incorrect
Enter the number:- 2
Password Incorrect
Enter the number:- 2
Password Incorrect
Enter the number:- 9
Password Correct

In [138]:
number_1 <= 10

False

In [139]:
for i in range(1000):
    a=int(input())
    if(a==9):
        print("Password Correct")
        break
    else:
        print("Password Incorrect")

9
Password Correct

In [140]:
for i in range(5):
    print("Value of i:", i)
    for j in range(5):
        print(j)

Value of i: 0
0
1
2
3
4
Value of i: 1
0
1
2
3
4
Value of i: 2
0
1
2
3
4
Value of i: 3
0
1
2
3
4
Value of i: 4
0
1
2
3
4

In [141]:
for i in range(10):
    i = int(input('Enter Value: '))
    if i==7:
        print("Code goes to next iteration in the current loop")
        continue
    elif i == 0:
        break
    print(i)

Enter Value: 9
9
Enter Value: 0

In [142]:
number_1 != 12

True

In [143]:
a+=10

In [144]:
a-=10

In [145]:
a*=10

In [146]:
a/=10

In [147]:
a

9.0

In [148]:
a = a**2

In [149]:
a = a**0.5

In [150]:
a

9.0

In [151]:
if (integer == 100) or (integer %2 == 0):
    print("Hello World!")
else:
    print("Bye")

Hello World!

In [152]:
if (integer == 100) and (integer %2 == 0):
    print("Hello World!")
else:
    print("Bye")

Bye

In [153]:
num = int(input("Enter a number:"))

flag = False

if num == 1:
    print('Number is a special number')
elif num > 1:
    for i in range(2, num - 1):
        if (num%i) == 0:
            flag = True
            break
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number:3
3 is a prime number

In [154]:
def factors(x):
    print("The factors of",x,"are:")
    for i in range(1, x + 1):
        if x % i == 0:
            print(i)
num = 64
factors(num)

The factors of 64 are:
1
2
4
8
16
32
64

In [158]:
for j in range(3):
    print("Value of j:", j)
    for i in range(5):
        if (i==3):
            continue
        else:
            print(i)

Value of j: 0
0
1
2
4
Value of j: 1
0
1
2
4
Value of j: 2
0
1
2
4

In [159]:
string = "The quick brown fox jumps over the lazy dog"
 
freq = {}
 
for i in string:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
        
print("Count of all characters :- "+ str(freq))

Count of all characters :- {'T': 1, 'h': 2, 'e': 3, ' ': 8, 'q': 1, 'u': 2, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'r': 2, 'o': 4, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 't': 1, 'l': 1, 'a': 1, 'z': 1, 'y': 1, 'd': 1, 'g': 1}

In [160]:
# In built data-Type in python
# Strings
# List
# Tuples
# Dictionary
# Set

In [161]:
integer = 256
integer1 = 256
integer2 = 1000

In [162]:
print(id(integer), id(integer1), id(integer2))

4469082784 4469082784 140380865563504

In [163]:
integer1 = 10
print(id(integer), id(integer1), id(integer2))

4469082784 4469074912 140380865563504

In [169]:
name = 'Abhijeet'
print("Hello world, my name is", name, " ", last_name)

Hello world, my name is Abhijeet   Bhattacharya

In [166]:
name = 'Abhijeet'
print("Hello world, my name is "+ name)

Hello world, my name is Abhijeet

In [174]:
last_name = 'Bhattacharya'
print("Hello world, my name is {} {}".format(name, last_name))

Hello world, my name is Abhijeet Bhattacharya

In [176]:
# F string
print(f"Hello world, my name is {name} {last_name}")

Hello world, my name is Abhijeet Bhattacharya

In [177]:
print(f"The input 1 is {input()}, input 2 {input()}")

2
3
The input 1 is 2, input 2 3

In [180]:
del name

In [182]:
# name

In [187]:
if input("Enter string") == 'yes':
    print("Go ahead")
else:
    print("Wrong input")

Enter string yes
Wrong input

In [192]:
inp = input('Enter string')
print(inp)
print(inp.strip())

Enter string       yes
       yes
yes

In [195]:
if input("Enter string").strip() == 'yes':
    print("Go ahead")
else:
    print("Wrong input")

Enter stringyes
Go ahead

In [196]:
print(input())

I am sleeping
I am sleeping

In [197]:
name = 'Abhijeet Bhattacharya'
print(name.split())

['Abhijeet', 'Bhattacharya']

In [202]:
string = 'the_man_is_sleeping_on_the_bench'
print(string.split('_'))

['the', 'man', 'is', 'sleeping', 'on', 'the', 'bench']

In [207]:
print(string.count('e'))

5

In [206]:
name = 'Abhijeet'
for i in name:
    print(i)

A
b
h
i
j
e
e
t

In [208]:
string.count?

In [209]:
print(string.replace('e', 'b'))

thb_man_is_slbbping_on_thb_bbnch

In [213]:
name = 'Abhijeet Bhattacharya'
print(name.replace('A','V'))

Vbhijeet Bhattacharya

In [214]:
if(input().startswith('Abhijeet')):
    print('Authenticated')
else:
    print('denied')

Abhijeet   0
Authenticated

In [215]:
def authen(inp):
    l = inp.split()
    if(l[0] == 'Aastha'):
        print("success")
    else:
        print("fail")

In [216]:
authen('Aastha   0 mm')

success

In [219]:
def password(name):
    if(name.strip()=='Naman'):
      print("User is authenticate")
    else:
      print("Authentication failed")
name=input("Please enter the password")
password(name)

Please enter the passwordNaman
User is authenticate

In [222]:
string

'the_man_is_sleeping_on_the_bench'

In [229]:
while 1:
    inp = input('Enter Auntentication:')
    if (inp.strip() == 'Abhijeet') or inp.split()[0] == 'Abhijeet':
        print("Authticated")
        break
    else:
        print("no")

Enter Auntentication:Abhijeet 3 sac rtj
Authticated

In [230]:
def func(passw):
    string = passw.strip()
    if string in passw:
        print("Valid Password")
    else:
        print("Invalid Password")

In [231]:
passw = input("enter password:- ")
func(passw)

enter password:- Abhijeet kkjg 567
Valid Password

In [236]:
if name.lower() == 'naman':
    print("Authenticated")
else:
    print("No")

Authenticated

In [240]:
print(name.upper())
print(chr(97), chr(ord('a') - 32))

NAMAN
a A

In [250]:
def con_l_u(string):
    for i in string:
        print(chr(ord(i) - 32))

In [255]:
con_l_u('sahil')

S
A
H
I
L

In [256]:
# List

In [257]:
a = []

In [259]:
print(type(a))

<class 'list'>

In [271]:
a = ['Abhijeet', 'Bhattacharya', 'Male', '23']

In [272]:
a

['Abhijeet', 'Bhattacharya', 'Male', '23']

In [287]:
a = ['Abhijeet', 'Bhattacharya', 23, 3465.9, True, range(8), [1, 2, 3]]

In [288]:
a

['Abhijeet', 'Bhattacharya', 23, 3465.9, True, range(0, 8), [1, 2, 3]]

In [289]:
type(a)

list

In [290]:
(type(a[5]))

range

In [291]:
b = a[0]
print(b[1])

b

In [296]:
for i in a:
    print(i)

Abhijeet
Bhattacharya
23
3465.9
True
range(0, 8)
[1, 2, 3]

In [301]:
a[1][1]

'h'

In [306]:
string.split('_')[3]

'sleeping'

In [307]:
a

['Abhijeet', 'Bhattacharya', 23, 3465.9, True, range(0, 8), [1, 2, 3]]

In [308]:
a.append('hi')
print(a)

['Abhijeet', 'Bhattacharya', 23, 3465.9, True, range(0, 8), [1, 2, 3], 'hi']

In [311]:
a.insert(0, 'HI')
print(a)

['HI', 'Abhijeet', 'Bhattacharya', 23, 3465.9, True, range(0, 8), [1, 2, 3], 'hi']

In [312]:
a.append?

In [346]:
def splitter(string):
    temp_str = ''
    string_split = []
    for i in string:
        if i == ' ':
            string_split.append(temp_str)
            temp_str = ''
#             continue
        else:
            temp_str+=i
    string_split.append(temp_str)
    print(string_split)

In [347]:
splitter('The man is sleeping')

['The', 'man', 'is', 'sleeping']

In [330]:
x = "the main is sleeping"
temp_str = ''
res = []
for i in x:
    if(i == ' '):
        res.append(temp_str)
        temp_str=''
        continue
    else:
        temp_str+=i

res.append(temp_str)
print(res)

['the', 'main', 'is', 'sleeping']

In [349]:
a.pop()

'hi'

In [350]:
a

['HI', 'Abhijeet', 'Bhattacharya', 23, 3465.9, True, range(0, 8), [1, 2, 3]]

In [361]:
a.pop?

In [357]:
a[-3]

True

In [359]:
a.pop(2)

'Bhattacharya'

In [360]:
a

['HI', 'Abhijeet', 23, 3465.9, True, range(0, 8), [1, 2, 3]]

In [362]:
a.pop(-2)

range(0, 8)

In [363]:
a

['HI', 'Abhijeet', 23, 3465.9, True, [1, 2, 3]]

In [365]:
a.remove('Abhijeet')

In [366]:
a

['HI', 23, 3465.9, True, [1, 2, 3]]

In [367]:
last = a.pop()

In [370]:
last[2]

3

In [377]:
arr = [1,2,3,5,23,3465,124,768,1,0,33,44,10,5]

In [379]:
arr.reverse()

In [380]:
arr

[5, 10, 44, 33, 0, 1, 768, 124, 3465, 23, 5, 3, 2, 1]

In [382]:
len(arr)

14

In [383]:
def rev(arr):
    temp_arr = []
    for i in range(len(arr)):
        temp_arr.append(arr[i - len(arr)])
    print(temp_arr)

In [384]:
rev(arr)

[5, 10, 44, 33, 0, 1, 768, 124, 3465, 23, 5, 3, 2, 1]

In [410]:
sorted(arr, reverse = False)

[0, 1, 1, 2, 3, 5, 5, 10, 23, 33, 44, 124, 768, 3465]

In [406]:
a.reverse()
print(a)
# print(sorted(a))

['HI', 23, 3465.9, True]

In [407]:
a

['HI', 23, 3465.9, True]

In [408]:
a.reverse()

In [409]:
a

[True, 3465.9, 23, 'HI']

In [1]:
a = "The quick brown fox jumps over the lazy dog"
def func(a):
    b = []
    c=a.upper()
    for i in c:
        if(i not in b):
            b.append(i)
            no_of_occur = c.count(i)
            print("Occurances of ",i," are ", no_of_occur)
func(a)

Occurances of  T  are  2
Occurances of  H  are  2
Occurances of  E  are  3
Occurances of     are  8
Occurances of  Q  are  1
Occurances of  U  are  2
Occurances of  I  are  1
Occurances of  C  are  1
Occurances of  K  are  1
Occurances of  B  are  1
Occurances of  R  are  2
Occurances of  O  are  4
Occurances of  W  are  1
Occurances of  N  are  1
Occurances of  F  are  1
Occurances of  X  are  1
Occurances of  J  are  1
Occurances of  M  are  1
Occurances of  P  are  1
Occurances of  S  are  1
Occurances of  V  are  1
Occurances of  L  are  1
Occurances of  A  are  1
Occurances of  Z  are  1
Occurances of  Y  are  1
Occurances of  D  are  1
Occurances of  G  are  1

In [2]:
string = "The quick brown fox jumps over the lazy dog"
pla = []

for i in string:
    if i in pla:
        continue
    else:
        pla.append(i)

In [416]:
for i in pla:
    count = 0
    for j in string:
        if i == j:
            count += 1
            continue
        else:
            continue

    print(i,count)

T 1
h 2
e 3
  8
q 1
u 2
i 1
c 1
k 1
b 1
r 2
o 4
w 1
n 1
f 1
x 1
j 1
m 1
p 1
s 1
v 1
t 1
l 1
a 1
z 1
y 1
d 1
g 1

In [3]:
string.count?

In [417]:
inp = "For writers, a random sentence can help them get their creative juices flowing."
res = []
printed_so_far = []
final_res = []


for i in inp:
    res.append(i)
for i in res:
    if i in printed_so_far:
        continue
    else:
        final_res.append(f'{i} == {res.count(i)}' )
        #print(f'{i} == {res.count(i)}' )
        printed_so_far.append(i)

print(final_res)

['F == 1', 'o == 3', 'r == 6', '  == 12', 'w == 2', 'i == 5', 't == 6', 'e == 11', 's == 3', ', == 1', 'a == 4', 'n == 5', 'd == 1', 'm == 2', 'c == 4', 'h == 3', 'l == 2', 'p == 1', 'g == 2', 'v == 1', 'j == 1', 'u == 1', 'f == 1', '. == 1']

In [418]:
# Tuples

In [419]:
tup = (1, 2, 3, 4, 5, 4.5, 'a')

In [420]:
type(tup)

tuple

In [427]:
print(tup[-1])

a

In [432]:
new_tup = tup + (1,)

In [433]:
new_tup

(1, 2, 3, 4, 5, 4.5, 'a', 1)

In [434]:
print(range(3, 9))

range(3, 9)

In [490]:
def adder(a, b):
    return (a, b)

In [475]:
a = adder(10, 20)
print(type(a))

<class 'tuple'>

In [476]:
a
print(id(a))

140380879535040

In [477]:
a = (1,2,3)

In [478]:
print(id(a))

140380879532160

In [480]:
new_tup

(1, 2, 3, 4, 5, 4.5, 'a', 1)

In [481]:
new_tup = list(new_tup)

In [482]:
type(new_tup)

list

In [483]:
new_tup[2] = 10

In [484]:
new_tup

[1, 2, 10, 4, 5, 4.5, 'a', 1]

In [485]:
new_tup = tuple(new_tup)

In [486]:
new_tup

(1, 2, 10, 4, 5, 4.5, 'a', 1)

In [487]:
range(9)

range(0, 9)

In [489]:
for i in new_tup:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
10 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4.5 <class 'float'>
a <class 'str'>
1 <class 'int'>

In [491]:
type(adder(1, 2))

tuple

In [492]:
# Dictionaries

In [493]:
a = {
    'a': 'first alphabet in dictionary',
    'b': 'second',
    'c': 1,
    'd': [1, 2],
    'e': True,
    'f': range,
    'g': {
        'hello': 42,
        'hi': 1.4
    }
}

In [494]:
type(a)

dict

In [497]:
print(a['g']['hi'])

1.4

In [503]:
print(a.get('e'))

True

In [506]:
print(a.items())

dict_items([('a', 'first alphabet in dictionary'), ('b', 'second'), ('c', 1), ('d', [1, 2]), ('e', True), ('f', <class 'range'>), ('g', {'hello': 42, 'hi': 1.4})])

In [508]:
a.values()

dict_values(['first alphabet in dictionary', 'second', 1, [1, 2], True, <class 'range'>, {'hello': 42, 'hi': 1.4}])

In [509]:
a.keys()

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [511]:
values = []
for i in a.items():
#     print(i[1])
    if type(i[1]) == dict:
#         temp = i[1]
        values.append(i[1].values())
        continue
    values.append(i[1])
print(values)

['first alphabet in dictionary', 'second', 1, [1, 2], True, <class 'range'>, dict_values([42, 1.4])]

In [518]:
d = a
values = []
for i in d.items():
    if(type(i[1]) == dict):
        for k in i[1]:
            values.append(i[1][k])
    else:
        values.append(i[1])

In [519]:
values

['first alphabet in dictionary', 'second', 1, [1, 2], True, range, 42, 1.4]

In [520]:
a = {
    'a':'First Alpha',
    '1':'First num',
    't':('a', 'b'),
    'd':{1:'a', 2:'b'},
    'f':range(0,9)
}
for i in a:
    if(type(a[i]) == dict):
        for j in a[i]:
            print(a[i][j])
    else:
        print(a[i])

First Alpha
First num
('a', 'b')
a
b
range(0, 9)

In [523]:
a = {}
a['1'] = 9

In [524]:
a

{'1': 9}

In [525]:
a[2] = 'w'

In [526]:
a

{'1': 9, 2: 'w'}

In [527]:
# Set

In [530]:
a = {1, 2, 3, 4, 4 ,1}

In [531]:
type(a)

set

In [532]:
a

{1, 2, 3, 4}

In [543]:
a = []
for i in range(100):
    a.append(i)

In [544]:
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [545]:
aa = []
for i in range(50, 150):
    aa.append(i)

In [546]:
aa

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149]

In [540]:
print(type(set(aa)))

<class 'set'>

In [547]:
a = set(a)
aa = set(aa)
print(a.intersection(aa))

{50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [552]:
a.union(aa)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149}

In [550]:
d = {
    'a': [1,2,3,8,4,4,6,8,3,1,2,12],
    'q': [1,2,3,4,56,6,4,347,232,18,5,7]
}

In [551]:
for i in d.items():
    print(set(i[1]))

{1, 2, 3, 4, 6, 8, 12}
{1, 2, 3, 4, 5, 6, 7, 232, 18, 56, 347}

In [563]:
print(1,2,3,4,'Abhijeet','1234',10, 29, True, [1,'2'])

1 2 3 4 Abhijeet 1234 10 29 True [1, '2']

In [562]:
for i in range(10, 20, 3):
    print(i)

10
13
16
19

In [564]:
def adder(a, b):
    return a+b

In [568]:
adder(10, 9)

19

In [569]:
# *Args and **Kwargs

In [570]:
def adder(a, b, c, *args):
    print(a+b+c)
    print(args)

In [573]:
adder(1,2,3, 10, 29, 22, 80, 99)

6
(10, 29, 22, 80, 99)

In [574]:
def adder(a, b, *args):
    a += b
    for i in args:
        a += i
    print(a)

In [577]:
adder(1, 2, 3, 10, 29, 22, 80, 99)

246

In [582]:
def printer(*args):
    for i in args:
        print(i)

In [583]:
printer(1,2,3, 10, 29, 22, 80, 99)

1
2
3
10
29
22
80
99

In [584]:
def printer(*abhijeet):
    for i in abhijeet:
        print(i)
printer(1,2,3, 10, 29, 22, 80, 99)

1
2
3
10
29
22
80
99

In [587]:
def adder(a, b, c, *args):
    print(a+b+c)
    print(*args)

In [588]:
adder(1,2,3, 10, 29, 22, 80, 99)

6
10 29 22 80 99

In [589]:
# Kwargs

In [591]:
def adder(a, *args, **kwargs):
    print(a)
    print(args)
    print(kwargs)

In [592]:
adder(1, 2,3,4,5, name = 'Abhijeet')

1
(2, 3, 4, 5)
{'name': 'Abhijeet'}

In [618]:
def adder(a, name = 'python', *args, **kwargs):
    print(a)
    print(name)
    print(args)
    print(kwargs.keys())

In [622]:
adder(1,'Hello',3,4,5, function = 'add')

1
Hello
(3, 4, 5)
dict_keys(['function'])

In [616]:
def add(b, a = 'python'):
    print(b, a)

In [617]:
add(1)

1 python

In [624]:
print?

In [634]:
def solve(a, b, c = 'Solver function'):
    print(a, b)
    print(c)

In [638]:
solve(9, 8, c = 'Hello')

9 8
Hello

In [648]:
print('1', '2', '3', sep = ' ', end='The print function has ended')

1 2 3The print function has ended

In [652]:
print(inp.split())

['For', 'writers,', 'a', 'random', 'sentence', 'can', 'help', 'them', 'get', 'their', 'creative', 'juices', 'flowing.']

In [654]:
inp

'For writers, a random sentence can help them get their creative juices flowing.'