In [1]:
def temp(name):
    print('Name is', name)
#     return name

In [2]:
temp('aamir')

Name is aamir

In [3]:
def temp(name):
    print('Name is also', name)
#     return name

In [4]:
temp('aamir')

Name is also aamir

In [5]:
a = ['4', 22, 'abhijeet', 9.99]

In [6]:
print(type(a[2]))

<class 'str'>

In [7]:
def temp(a):
    print(a)

In [8]:
temp(9)
print(isinstance(temp, object))

9
True

In [9]:
name = 'abhijeet'
age = 22
print(age == 29)
if type(age) == int:
    print("True True")

False
True True

In [10]:
hex(id(temp))

'0x7fe9011a28b0'

In [11]:
print(type(a))
print(isinstance(print, object))

<class 'list'>
True

In [12]:
class Student:
    mentor = 'Abhijeet'
    age = 22

In [13]:
a = Student()

In [14]:
b = Student()

In [15]:
c = Student()

In [16]:
print(c.mentor, b.mentor, a.mentor, a.age, b.age, c.age)

Abhijeet Abhijeet Abhijeet 22 22 22

In [17]:
class Person:
    alive = True
    age = 22
    name = None
    
    def hello(self):
        print("Hello I am:", self.alive, self.name, self.age)

In [18]:
p = Person()

In [19]:
print(p)

<__main__.Person object at 0x7fe9011be0a0>

In [20]:
p.hello()

Hello I am: True None 22

In [21]:
class Person:
    alive = True
    age = 22
    name = None
    
    def hello(self, name_person, age_person, alive_person = True):
        self.name = name_person
        self.age = age_person
        self.alive = alive_person
        print("Hello I am:", self.alive, self.name, self.age)

In [22]:
q = Person()

In [23]:
print(type(q))

<class '__main__.Person'>

In [24]:
q.hello('abhijeet', 30)

Hello I am: True abhijeet 30

In [25]:
q.name

'abhijeet'

In [26]:
q.age

30

In [27]:
p = Person()

In [28]:
print(p.name)

None

In [29]:
p.hello('samar', 99, False)
print(p.name, p.age, p.alive)

Hello I am: False samar 99
samar 99 False

In [30]:
# Dunders/ Magic Function

In [31]:
class Person:
    living = True
    
    def __init__(self, person_name, person_age, person_height):
        self.name = person_name
        self.age = person_age
        self.height = person_height
        print("Chal gya")
        
    def hello(self):
        print(self.name, self.age, self.height)

In [32]:
person1 = Person('Abhijeet', 22, 5.10)
print("NEXT LINE")
person2 = Person('Siddharth', 19, 6)

Chal gya
NEXT LINE
Chal gya

In [33]:
print(person1.name, person1.age, person1.height)
print(person2.name, person2.age, person2.height)

Abhijeet 22 5.1
Siddharth 19 6

In [34]:
print(person1.living, person2.living)

True True

In [35]:
class Student:
    mentor = "Abhijeet Bhaiya"
    def __init__(self, name, rollno, age):
        self.name = name
        self.rollno = rollno
        self.age = age
s1 = Student(input("name"), input("RollNO"), input("age"))
print(s1.mentor, s1.name, s1.rollno, s1.age)

namea
RollNOa
agea
Abhijeet Bhaiya a a a

In [36]:
class Student:
    mentor = 'Abhijeet'
    
    def __init__(self):
        pass
    
    def details(self, name, roll, age):
        self.name = name
        self.age = age
        self.roll = roll

In [37]:
a = Student()
b = Student()
c = Student()

for i in range(3):
    name = input("Name?")
    roll = input("Roll")
    age = input("Age")
    if i == 0:
        a.details(name, roll, age)
    if i == 1:
        b.details(name, roll, age)
    if i == 2:
        c.details(name, roll, age)

Name?a
Rolla
Agea
Name?a
Rolla
Agea
Name?a
Rolla
Agea

In [38]:
print(a.name, b.name, c.name)

a a a

In [41]:
class Student:
    mentor = 'Abhijeet'
    
    def __init__(self, name, age, roll):
        self.name = name
        self.age = age
        self.roll = roll

In [42]:
a = Student(input('Name'), int(input('Age')), int(input('roll')))

Namea
Age2
roll2

In [43]:
b = Student(input('Name'), int(input('Age')), int(input('roll')))

Name
Age1
roll3

In [44]:
print(a.name, b.name, a.age, b.age, a.roll, b.roll)

a  2 1 2 3

In [45]:
print(a.mentor, b.mentor, id(a.mentor), id(b.mentor), id(Student('a', 'b', 'c').mentor))

Abhijeet Abhijeet 140638722505712 140638722505712 140638722505712

In [46]:
print(id(a.name), id(b.name))

140638659077552 140638656189168

In [47]:
a

In [48]:
for i in range(1,6):
    k = i
    for j in range(1,i+1):
        print(k, end=" ")
        k = k+1
    k = k-2
    for q in range(1,i):
        print(k, end = " ")
        k = k-1
    
    print(" ")

1
2 3 2
3 4 5 4 3
4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [49]:
for i in range(5):
    counter = i+1
    counterneg= 2*i
    for j in range(2*i+1):
        if counter<=2*i+1:
            print(counter,end = '')
            counter+=1
        else:
            print(counterneg,end = '')
            counterneg-=1
            
    print("\r")

1
232
34543
4567654
567898765

In [50]:
n = 5
for i in range(1, n+1):
    for j in range(i, i+i):
        if j <= n:
            print(j, end='')
        else:
            print(2*n-j, end='')
    for j in range(i-1, 0, -1):
        if j <= n:
            print(j, end='')
        else:
            print(2*n-j, end='')
    print()

1
231
34521
4543321
543214321

In [70]:
class Student:
    
    mentor = 'Abhijeet'
    mentor1 = 'Raghav'
    age = 22
    name = 'xyz'
    
    def hello(self):
        print(self.name, self.age, self.mentor)

In [71]:
stu = Student()

In [72]:
stu.mentor1

'Raghav'

In [73]:
stu.name

'xyz'

In [74]:
Student().name

'xyz'

In [75]:
Student().hello()

xyz 22 Abhijeet

In [76]:
stu.hello()

xyz 22 Abhijeet

In [77]:
class Student:
    
    mentor = 'Abhijeet'
    mentor1 = 'Raghav'
    age = None
    name = None
    
    def hello(self, age, name):
        self.age = age
        self.name = name
        print(self.name, self.age, self.mentor)

In [79]:
stu = Student()

In [87]:
print(stu.age)

45

In [86]:
stu.hello(int(input('Age')), 'Aamir')

Age45
Aamir 45 Abhijeet

In [93]:
class Student:
    
    mentor = 'Abhijeet'
    
    def __init__(self, name, age):
        self.age = age
        self.name = name
        print("Chal gya")
    
    def hello(self):
#         self.age = age
#         self.name = name
        print(self.name, self.age, self.mentor)

In [94]:
stu = Student('Rahul', 40)

Chal gya

In [92]:
print(stu.age, stu.name)

40 Rahul

In [95]:
a = Student('Nishant', 22)

Chal gya

In [96]:
print(a.age, a.name)

22 Nishant

In [97]:
a = 10
b = 9
print(a+b)

19

In [99]:
isinstance(b, object)

True

In [100]:
class Car:
    
    def __init__(self, model, milage):
        self.model = model
        self.milage = milage
        
    def __add__(self, other):
        return int(self.milage) + int(other.milage)
    
    def __eq__(self, other):
        return int(self.milage) == int(other.milage)
    
    def __str__(self):
        return "{} {}".format(self.milage, self.model)

In [101]:
c1 = Car('BMW', 9)
c2 = Car('Audi', 4)

In [102]:
c1 == c2

False

In [103]:
print(c1+c2)

13

In [105]:
str(c1)

'9 BMW'

In [106]:
class Dog:
    Breed = None
    name = None
    tricks = None
    
    def __init__(self,Breed,Name,tricks):
        self.Breed = Breed
        self.Name = Name
        self.tricks = tricks
    
    def hello(self):
        print(self.Breed,self.Name,self.tricks)

In [107]:
h = Dog('Puppy','Pug',['Eat','Sleep'])
i = Dog('GS','Simba',['Run','Jump','Stand'])

In [242]:
class Dog:
    
    def __init__(self, dog_name, dog_breed):
        self.name = dog_name
        self.breed = dog_breed
        self.total_tricks = []
        
    def update_tricks(self, trick):
        self.total_tricks.append(trick)

In [243]:
d = Dog('Coco', 'Labra')

In [244]:
d.total_tricks

[]

In [245]:
d.update_tricks('sit')
d.update_tricks('dance')
d.update_tricks('fetch')
d.update_tricks('hello')

In [246]:
d.total_tricks

['sit', 'dance', 'fetch', 'hello']

In [247]:
a = Dog('Puffy', 'German Shefard')

In [248]:
a.total_tricks

[]

In [249]:
a.update_tricks('dance')

In [250]:
a.total_tricks

['dance']

In [251]:
print(id(a.total_tricks), id(d.total_tricks))

140638732691840 140638732717888

In [217]:
class Dog:
     dogbreed=''
     tricks=''
     def __init__(self,a):
         if a=='Labradour':
            self.dogbreed='Labradour'
            self.tricks='Sit'
            print(self.dogbreed,self.tricks)
         if a=='pitbull':
            self.dogbreed='pitbull'
            self.tricks='sit,Fetch'
            print(self.dogbreed,self.tricks)
         elif a=='german shepherd':
              self.dogbreed='german shepherd'
              self.tricks='sit,dance,fetch'
              print(self.dogbreed,self.tricks)
a=input('Please enter type of dog')
d=Dog(a)
print(d.tricks)

Please enter type of dogpitbull
pitbull sit,Fetch
sit,Fetch

In [115]:
class Dog:
    tricks = []
    
    def __init__(self,name,breed,tricks):
        self.name = name
        self.breed = breed
        self.tricks = tricks
        
    def tri(self):
        print(self.name,self.breed, self.tricks)
        
    def updat(self,trick):
        self.tricks.append(trick)

In [116]:
dog1 = Dog('Coco', 'Labra', 'sit')

In [118]:
dog1.tri()

Coco Labra sit

In [119]:
dog2 = Dog('Puffy', 'German Shefard', 'dance')

In [120]:
dog2.tri()

Puffy German Shefard dance

In [228]:
def temp(name = 'abhijeet'):
    print('Name is', name)

In [229]:
print(temp)

<function temp at 0x7fe901b6a940>

In [252]:
class Class1:
    
    def m(self):
        print("In class 1")
        
class Class2:
    
    def m(self):
        print("In class 2")
    
class Class3:
    
    def m(self):
        print("In class 3")
        
class Class4:
    
    def m(self):
        print("In class 4")

In [255]:
obj = Class1()
print("Next")
obj.m()

Next
In class 1

In [256]:
Class2.m(obj)

In class 2

In [5]:
class School_Members:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f"Initialised School Member: {self.name}")
        
    def tell(self):
        print(f"Name: {self.name}, Age: {self.age}")
        
    
class Teachers(School_Members):
    
    def __init__(self, teacher_name, teacher_age, teacher_salary):
        School_Members.__init__(self, teacher_name, teacher_age)
        self.salary = teacher_salary
        print(f"Initialised Teacher: {self.name}")
        
    def tell(self):
        School_Members.tell(self)
        print(f"Salary: {self.salary}")
        
class Students(School_Members):
    
    def __init__(self, student_name, student_age, student_marks):
        School_Members.__init__(self, student_name, student_age)
        self.marks = student_marks
        print(f"Initialised Student: {self.name}")
        
    def tell(self):
        School_Members.tell(self)
        print(f"Marks: {self.marks}")

In [6]:
t = Teachers('Abhijeet', 22, 1000)
s = Students('Aamir', 19, 75)

Initialised School Member: Abhijeet
Initialised Teacher: Abhijeet
Initialised School Member: Aamir
Initialised Student: Aamir

In [7]:
t.tell()
s.tell()

Name: Abhijeet, Age: 22
Salary: 1000
Name: Aamir, Age: 19
Marks: 75

In [13]:
class School_Members:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f"Initialised School Member: {self.name}")
        
    def tell(self):
        print(f"Name: {self.name}, Age: {self.age}")
        
    
class Teachers(School_Members):
    
    def __init__(self, teacher_name, teacher_age, teacher_salary):
        super().__init__(teacher_name, teacher_age)
        self.salary = teacher_salary
        print(f"Initialised Teacher: {self.name}")
        
    def tell(self):
        super().tell()
        print(f"Salary: {self.salary}")
        
class Students(School_Members):
    
    def __init__(self, student_name, student_age, student_marks):
        super().__init__(student_name, student_age)
        self.marks = student_marks
        print(f"Initialised Student: {self.name}")
        
    def tell(self):
        super().tell()
        print(f"Marks: {self.marks}")

In [14]:
t = Teachers('Abhijeet', 22, 1000)
s = Students('Aamir', 19, 75)

Initialised School Member: Abhijeet
Initialised Teacher: Abhijeet
Initialised School Member: Aamir
Initialised Student: Aamir

In [15]:
t.tell()
s.tell()

Name: Abhijeet, Age: 22
Salary: 1000
Name: Aamir, Age: 19
Marks: 75

In [50]:
class Class1:
    
    def m(self):
        print("In class 1")
        
class Class2(Class1):
    
    def m(self):
        print("In class 2")
#     pass
    
class Class3(Class1):
    
    def m(self):
        print("In class 3")
        
class Class4(Class3, Class2):
    
    print("In class 4")
    pass

obj = Class4()
print('Next')
obj.m()

In class 4
Next
In class 3

In [47]:
Class2.m(obj)

In class 1

In [31]:
a = 10
for i in range(5):
    print(i)
    if a==10:
        pass
    if i==3:
        a = 0
    if (a!=10):
        break

0
1
2
3

In [27]:
for i in range(50):
    pass

In [37]:
def adder(a, b, *args):
    print(a + b)
    for i in args:
        print(i)

In [38]:
adder(10, 20, 22, 99)

30
22
99

In [62]:
class Best_friend:
    
    best_friends = {}
    
    def __init__(self, name):
        self.best_friends[str(name)] = []
        
    def add_best_friend(self, name, name_best_friend):
        self.best_friends[str(name)].append(name_best_friend)

class Person(Best_friend):
    
    def __init__(self, name, age):
        super().__init__(name)
        self.name = name
        self.age = age
        
    def my_best_friend(self, best_friend):
        super().add_best_friend(self.name, best_friend)

In [63]:
a = Person("Abhijeet", 22)
b = Person('Aamir', 19)
c = Person('Rohit', 25)

In [64]:
c.name

'Rohit'

In [69]:
a.my_best_friend(b.name)

In [71]:
a.best_friends

{'Abhijeet': ['Rohit', 'Aamir'], 'Aamir': ['Sahil'], 'Rohit': []}

In [67]:
b.my_best_friend('Sahil')

In [70]:
b.best_friends

{'Abhijeet': ['Rohit', 'Aamir'], 'Aamir': ['Sahil'], 'Rohit': []}

In [72]:
print(id(a.best_friends), id(b.best_friends))

140407794349312 140407794349312

In [76]:
print("Best friends of Abhijeet--->", a.best_friends[a.name])

Best friends of Abhijeet---> ['Rohit', 'Aamir']